.modal-content {
  position: relative;
  padding: 20px;
  border-radius: 6px;
  width: 500px;
  background: white;
  text-align: center;
  z-index: 2;
}
form {
  display: flex;
  flex-direction: column;
}
.modal-back {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
}
